@font-face {
    font-family: "TwentyCentury";
    src: url("../../css/fonts/20Cen.otf");
    }

body {
    font-family: 'TwentyCentury';
    align-items: center;
    justify-items: center;
}
.juulCap {
    height: 20px;
    width: 20px;
    padding-left: 5%;
}

.add {
    height: 25px;
    width: 25px;
    margin-left: 37%;
    transition: all .2s; /* Animation */
}

.add:hover {
    transform: scale(1.3);
}

.container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60vw;
    height: 70vh;
    background-color: #efefef;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0px 9px 20px 0px rgba(0,0,0,0.25);
}

.header {
    height: 10vh;
    background-color: #1c1c1c;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 11px 28px -5px rgba(0,0,0,0.25);

}

.juulLogo {
    position: absolute;
    padding: 15px;
    height: 50px;
    left: 45%;
}

.juul {
    height: 380px;
    /* margin-top: 35px;
    margin-left: 200px; */
}

.contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pageFade {
    animation: fadein 0.7s;
}

.left {
    margin: auto;
    padding-top: 10%;
}

.right {
    margin-top: 5%;
}

.track {
    display: flex;
    align-items: center;
    background: white;
    width: 80%;
    border: 1px solid #ececec;
    border-radius: 10px;
    margin-bottom: 2%; 
}

.title {
    justify-content: flex-start;
    font-size: 1.5em;
    padding-left: 10px;
    margin: 0;
    display: inline;
    vertical-align: bottom;
    text-transform: uppercase;
}

.time {
    justify-content: flex-end;
    font-size: 0.4em;
    padding-right: 10px;
    margin-left: auto;
    display: inline;
    vertical-align: bottom;
    text-align: right;
    color: #9e9e9e;
}

.history {
    /* position: absolute; */
    max-height: 45vh;
  overflow: auto;
  /* background-image: linear-gradient(to bottom, transparent, #efefef); */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}